@model IEnumerable<FoodApp.Data.Models.Category>

<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    <div class="panel panel-default">

        @foreach(var item in Model)
        {
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    @item.Name
                </a>
            </h4>
        </div>
        }


    </div>

</div><!--/category-products-->
